<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cekin"
        tools:targetApi="31">
        <activity
            android:name=".ui.Supply.Barang.Barang5.DetailBarang5"
            android:exported="false" />
        <activity
            android:name=".ui.Supply.Barang.Barang4.DetailBarang4"
            android:exported="false" />
        <activity
            android:name=".ui.Supply.Barang.Barang3.DetailBarang3"
            android:exported="false" />
        <activity
            android:name=".ui.Supply.Barang.Barang2.DetailBarang2"
            android:exported="false" />
        <activity
            android:name=".ui.Supply.Barang.Barang1.DetailBarang1"
            android:exported="false" />
        <activity
            android:name="com.example.cekin.ui.Profile.EditProfilePage"
            android:exported="false" />
        <activity
            android:name="com.example.cekin.ui.Profile.ProfilePage$ProfilePage"
            android:exported="false" />
        <activity
            android:name="com.example.cekin.ui.WelcomePage.SignUp.signup_page"
            android:exported="false" />
        <activity
            android:name="com.example.cekin.ui.WelcomePage.Login.login_page"
            android:exported="false" />
        <activity
            android:name=".ui.WelcomePage.WelcomePage1"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cekin.ui.WelcomePage.WelcomePage2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chart.ChartPage"
            android:exported="false" />
        <activity
            android:name=".ui.Supply.SupplyPage"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomePage"
            android:exported="false" />
    </application>

</manifest>